html,body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{
	margin: 0;
	padding:0;
}
html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑",Arial;
	margin: 0 auto;
}
a{
	text-decoration:none;
}
img{
	border:none;
	display: block;
}
ul,li{
	list-style: none;
}
input{
    font: inherit
}

/*header*/
.header{
	width: 100%;
	height: 80px;
	position: relative;
	line-height: 80px;
}
.header_content{
	width: 1240px;
	margin: 0 auto;
}
.header .header_logo{
	height:80px ;
	width: 146px;
    margin-top: 32px;
	float: left;
}
.header_titlelist{
	float: left;
}
.header_titlelist_block{
	display: inline-block;
	font-size: 14px;
	color: #999;	
}
.header_titlelist_block.active{
	color: #333;
}
.header_rightlist{
	float: right;
	height: 40px;
    font-size: 12px;
    line-height: 40px;
    margin-top: 20px;
    padding: 0 20px;
}
.header_rightlist .header_rightlist_item{
	float: left;
}
.header_rightlist .header_member{
	float: left;
}
.header_right_link{
	display: block;
	color: #666;
	padding: 0 20px;
	transition: all .5s;
}
.header_right_link:hover{
	color: #2bc5fa;
}
.header_member_link{
	display: block;
	color: #666;
	padding: 0 20px;
	transition: all .5s;
}

.header-member-triangle{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 5px;
	width: 4px;
	height: 14px;
}
.header-member-triangle:before{
	content: "";
	width: 0;
	height: 0;
	border: 4px solid #000000;
	position: absolute;
	top: 44%;
	right: 0;
    border-bottom: 0;
    border-top: 4px solid #666;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.header-member-triangle:after{
	content: "";
	width: 0;
	height: 0;
	border: 4px solid #000000;
	position: absolute;
	top: 27%;
	right: 0;
    border-top: 0;
    border-bottom: 4px solid #2bc5fa;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0;
}
.header_member_downmune{
	font-size: 12px;
	background: #fff;
	height: 0;
	overflow: hidden;
	transition: height .2s linear,border-width .2s linear;
}
.header_member_downmune .header_member_downmune_link{
	color: #666;
	display: block;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    color: #666;
    transition: all .2s linear;
}
.header_member_downmune .header_member_downmune_item.exit{
	text-align: center;
    border-top: 1px solid #ccc;
}
.header_member:hover{
	border: 1px solid #C0C0C0;
}
.header_member:hover .header_member_link{
	color: #2bc5fa;
}
.header_member:hover .header-member-triangle:after{
	opacity: 1;
}
.header_member:hover .header-member-triangle:before{
	opacity:0;
}
.header_member_downmune_link:hover{
	background: #f5f5f5;
}

/*section_cart*/

.cart{
	width: 100%;
	background:#f5f5f5 ;
	padding-top: 10px;
	padding-bottom: 40px;
}
table{
	border-collapse: collapse;
    border-spacing: 0;
}
   
.cart_header{
	height: 50px;
	background: #fff;
	width: 100%;
    border-bottom: 1px solid #EFEFEF;
}
.cart_content{
	width: 1240px;
	margin: 0 auto;
	color: #333;
	font-size:14px ;
}
.cart .cart-col-select{
	width: 220px;
    text-align: left;
    padding-left: 45px;
}
.cart .cart-col-name {
    width: 270px;
    text-align: left;
}
.cart .cart-col-price {
    width: 220px;
    text-align: center;
}
.cart .cart-col-num{
    width: 200px;
    text-align: center;
}
.cart .cart-col-total {
    width: 160px;
    text-align: center;
}
.cart .cart-col-ctrl {
    width: 110px;
    text-align: right;
    padding-right: 40px;
}
.cart_goodslist{
	margin-bottom: 10px;
}
.cart_goodslist_item{
    background-color: #fff;
    margin-bottom: 10px;
}
.cart_goodslist_item_header{
	height: 50px;
    line-height: 49px;
    padding-left: 45px;
    background-color: #FAFAFC;
    color: #666;
}
.cart_goodslist_item_body{
	border-bottom:1px solid #EFEFEF;;
}
.cart_product{
    height: 150px;
    border-top: 1px solid #EFEFEF;
}
.cart-product-link{
	/*display: flex;*/
	color: #666666;
	line-height: 22px;
}
.cart-product-link::before{
	margin-top:45px ;
	float: left;
}
.cart-product-link img{
	width: 100px;
	height: 100px;
	float: right;
}
.cart-product .cart-col-name p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart_product_color{
	color: #999999;
}
.cart-col-num_calculate{
	width: 140px;
	height: 40px;
    border: 1px solid #EFEFEF;		
    border-radius: 4px;
}
.cart-col-num_calculate input{
	border: none;
    outline: 0; 
    background-color: transparent;
}

.cart-subtract,.cart-add{
	
	width: 40px;
    height: 100%;
    font-size:20px;
    font-weight: normal;
}
.cart-subtract{
	float: left;
	cursor: pointer;
	transition: color .5s;
}
.cart-add{
	float: right;
	cursor: pointer;
	transition: color .5s;
}
.cart-subtract:hover{
	color: #33c6f7;
}
.cart-add:hover{
	color: #33c6f7;
}
.cart-product-num{
	float: left;
	width: 58px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}
.cart-product-num-result{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: -4px 0 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.cart-product-remove{
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	transition: all .7s;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
    margin-left: 30px;
}
.cart-product-remove:hover{
	border-radius:50% ;
	background: #EEEEEE;	
}
.cart-col-price .cart-product{
    font-size: 16px;
    color: #666;
    font-weight: bolder;
}
.cart-col-total{
	 font-size: 16px;
	font-weight: bolder;
    color: #e02b41;
}
.cart_footer{
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.cart_footer_content{
	font-size: 14px;
	color:#666666;
	background: #fff;
	width: 1240px;
	height: 100%;
	margin: 0 auto;
}
.cart_footer_left{
	float: left;
	margin-left:45px ;
	height: 100%;
}
.cart_select.total{
	display: inline-block;
	color: #333;
}
.cart_footer_left .cart_removeselect_total{
	margin-left: 20px;
	margin-right: 30px;
	cursor: pointer;
	vertical-align:middle;
}
.cart_footer_right{
	float: right;
	height: 100%;
	margin-right: 30px;
}
.cart-footer-count{
	display: inline-block;
	vertical-align: middle;
}
.cart-footer-num{
	margin: 0 5px;
	color: #333;
	font-weight: 900;
}
.cart-footer-num.blue{
	color: #00c3f5;;
}
.cart-footer-sum .cart-footer-num{
	color: #e02b41;
}
.cart-footer-total{
	font-size: 20px;
	font-weight: 900;
    color: #e02b41;
    margin-right: 30px;
}
.sign{
    color: #e02b41;
    font-weight: 900;
    font-size: 20px;
}
.cart-footer-sum{
	float: left;
}
.cart_footer_submitbtn{
	float: right;
	width: 100px;
	height: 36px;
	background:#00c3f5;
	color: #fff;
	line-height: 36px;
	text-align: center;
	margin-top: 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s;
}
.cart_footer_submitbtn:hover{
	background-color: #40D2F8;
}






/*复选框模拟修饰*/
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]+label{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	cursor: pointer;
}
label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #C0C0C0;
    vertical-align: middle;
    border-radius: 2px;
    margin-right: 21px;
    box-sizing:border-box;
    color: #fff;
  	font-weight: 900;
  	font-size: 16px;
  	text-align: center;
}
input[type="checkbox"]:checked+label::before{
    content: "√"; 
    background: #35c7f8; 
    border: none;
}
/*复选框修饰结束*/

/*footer*/
.layout-footer{
	width: 100%;
	padding-bottom: 50px;
}
.layout-footer-content{
	width: 1240px;
	margin:0 auto;
	background: #fff;
}
.layout-footer .layout-footer-top {
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}
.layout-footer-services{
	float: left;
    width: 960px;
    margin: 60px 0 16px;
}
 .layout-footer-services  li{
 	float: left;
    width: 240px;
    margin-bottom: 27px;
    line-height: 30px;
 }
 .layout-footer-services-link{
 	color: #999;
 	font-size: 14px;
 } 
 .layout-footer-services-link .icon{
 	font-size:25px;
 }
 .layout-footer-contact{
 	float: right;
    margin-top: 65px;
    text-align: right;
 }
.layout-footer-contact p{
	font-size: 12px;
    margin-bottom: 2px
}
.layout-footer-contact_tel{
	display: block;
    font-size: 20px;
    color: #00c3f5;
    margin-bottom: 8px;
}

.layout-footer-contact_online{
	display: inline-block;
    vertical-align: middle;
    width: 144px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    background-color: #00c3f5;
    line-height: 36px;
    text-align: center;
    transition: background-color .5s;
}
.layout-footer-contact_online:hover{
	background: #0AAEE3;
}
.layout-footer-contact_online .txt{
	display: inline-block;
    vertical-align: middle;
    padding-right: 6px;
}
.layout-footer-bottom_list{
	float: left; 
}
.layout-footer-bottom_uls{
	height:18px ;
	margin: 26px 0 18px;
	line-height: 18px;
}
.layout-footer-bottom_list_link{
	color: #999;
    padding: 0 15px;
     border-right: 1px solid #efefef;
     font-size: 11px;
}
.layout-footer-copyright{
	color: #999;
	font-size: 11px;
	/*overflow: hidden;*/
}
.layout-footer-copyright .layout-footer-copyright_link{
	color: #999;
	margin-right: 2px;
}
.layout-footer-copyright_txt{
	margin-right: 10px;
}
.layout-footer-copyright_L{
	float: left;
	line-height: 24px;
}
.layout-footer-copyright_R{
	float: right;
	position: relative;
}
.layout-footer-media_link{
	color: #999;
	width: 16px;
	border-right: 1px solid #efefef;
	 padding: 0 5px;
	 vertical-align: middle;
	
}
.layout-footer-media_link .icon{
	transition: color .5s;
}

.layout-footer-media_link.wechat{
	position: relative;
}
.layout-footer-media-wechat-qrcode{
	display: none;
    position: absolute;
    bottom: 35px;
    left: -52px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #efefef;
    z-index: 999;
}
 .layout-footer-media-wechat-qrcode .footer_qrcode{
 	width: 180px;
 	height: 180px;
 } 
.footer_icon{
	position: absolute;
	left: 75px;
	bottom: -18px;
}

.layout-footer-media_link .icon{
	 font-size: 17px;
}
.icon.iconfont.icon-weibo:hover{
	color: orangered;
}
.icon.iconfont.icon-icon-:hover{
	color: limegreen;
}
.icon.iconfont.icon-icon-:hover .layout-footer-media-wechat-qrcode{
	display: block;
}

.icon.iconfont.icon-kongjian:hover{
	color:goldenrod;
}

/*aside*/
.layout-magnet_aside{
	width: 123px;
    height: 154px;
    position: fixed;
    top: 65%;
    right: -73px;
    transition: all .5s;
}
.layout-magnet_list{
	width: 123px;
}
.layout-magnet-item{
    background-color: #D4D4D4;
    margin-bottom: 2px;
    transition: all .3s linear;
    position: relative;
    right: 0px;
}
.layout-magnet-item:hover{
	right: 73px;
	background: gray;
}
.layout-magnet-item-app:hover{
	right: 0;
	background: gray;
}
.layout-magnet-link{
	display: block;
    line-height: 50px;
    color: #fff;
    word-break: keep-all;
	width: 123px;
	height: 50px;
	font-weight: 900;
}
.layout-magnet-link .icon{
	font-size: 30px;
}
.layout-magnet-icon{
	float: left;
	vertical-align: middle;
    width: 50px;
    height: 50px;
    text-align: center;
}
.layout-magnet-text{
	float: left;
    vertical-align: middle;
    width: 73px;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    font-size: 12px;
    text-align: left;
}
.layout-magnet-download{
	/*display: none;*/
	position: absolute;
    right: 124px;
    bottom: 0;
}
.layout-magnet-item-top{
	cursor: pointer;
}
.layout-magnet-download{
	/*display: none;*/
	position: absolute;
    right: 124px;
    bottom: 0;
    width: 162px;
    height: 0;
    background-color: #a39a9a;
    overflow: hidden;
    transition: height .2s linear;
    line-height: normal;
}
.layout-magnet-item-app:hover .layout-magnet-download{
	height: 190px;
}
.layout-magnet-download_qrcode{
	width: 145px;
    height: 145px;
    margin: 9px;
}
.layout-magnet-download_text {
	 word-break: keep-all;
    margin-bottom: 16px;
    text-align: center;
    font-size: 12px;
}
