.banner{
	width:100%;
	height:268px;
	margin:0 auto;
	background:url(../img/banner3.png) center;
}
/*secent*/
.secent{
	width:100%;
	height:47px;
	border-bottom:1px solid #e0e0e0;
}
.secent_0{
	width:1000px;
	height:47px;
	margin:0 auto;
	background:url(../img/tubiao.png) no-repeat  left center;
}
.secent_0 p{
	color:#666666;
	font-size:13px;
	line-height: 47px;
	text-indent: 26px;
}
.secent_1{
	float:left;
}
.secent_one{
	float:left;
}
.secent_two{
	float:left;
}
/*send*/
.send{
	width:1003px;
	height:100%;
	margin:0 auto;
}
.sendone{
	width:223px;
	height:100%;
	margin:0 auto;
	background:#e5e5e5;
	float:left;
}
.sendone a{
	display:block;
	color:#363636;
	text-decoration:none;
}
.sendone_1{
	width:223px; 
	height:79px;
	font-size:25px;
	font-weight:600;
	text-align:center;
	line-height:79px;
	border-bottom:1px solid #d4d4d4; 
}
.sendone_1:hover{
	background:#f15a23;
	color:#f9e5ff;
}
.sendone_2{
	width:223px; 
	height:57px;
	font-size:16px;
	text-align:center;
	line-height:57px; 
	border-bottom:1px solid #d4d4d4; 
}
.sendone_2:hover{
	background:#f15a23;
	color:#f9e5ff;
}

.sendone_3{
	width:223px; 
	height:57px;
	font-size:16px;
	text-align:center;
	line-height:57px; 
	border-bottom:1px solid #d4d4d4; 
}
.sendone_3:hover{
	background:#f15a23;
	color:#f9e5ff;
}
.sendone_55{
	width:223px;
	height:1300px;
	margin:0 auto;
	background:#e5e5e5;
	/*float:left;*/
}
.send_1{
	width:780px;
	height:45px;
	margin:0 auto;
	float:left;
	border-bottom:1px dashed #c9caca;
}
a.sendone_4{
	text-decoration:none;
	color:black;
	line-height:45px;
	font-size:16px;
}
.sendone_4{
	width:109px;
	height:43px;
	border-bottom:2px solid #f15a23;
	margin-left:40px;
}
.send_2{
	width:750px;
	height:89px;
	margin:0 auto;
	float:right;
	margin-top:26px;
}

img .send_2{
	border:1px solid #dedede;
}
.sen_1{
	width:133px;
	height:97px;
	margin:0 auto;
	float:left;
	background:url(../img/renc9.png) no-repeat;
}
.send_3{
	width:750px;
	height:30px;
	margin:0 auto;
	float:right;
}

.sen_11{
	width:133px;
	height:30px;
	margin:0 auto;
	float:left;
	line-height:30px;
	font-weight:600;
	text-align:center;
}
.sen_2{
	width:133px;
	height:97px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	background:url(../img/renc9.png) no-repeat;
}
.sen_12{
	width:133px;
	height:30px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	line-height:30px;
	font-weight:600;
	text-align:center;
}
.sen_3{
	width:133px;
	height:97px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	background:url(../img/renc9.png) no-repeat;
}
.sen_13{
	width:133px;
	height:30px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	line-height:30px;
	font-weight:600;
	text-align:center;
}
.sen_4{
	width:133px;
	height:97px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	background:url(../img/renc9.png) no-repeat;
}
.sen_14{
	width:133px;
	height:30px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	line-height:30px;
	font-weight:600;
	text-align:center;
}
.sen_5{
	width:133px;
	height:97px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	background:url(../img/renc9.png) no-repeat;
}
.sen_15{
	width:133px;
	height:30px;
	margin:0 auto;
	float:left;
	margin-left:17px;
	line-height:30px;
	font-weight:600;
	text-align:center;
}

.send_4{
	width:750px;
	height:100%;
	float:right;
	margin:0 auto;
}
.sad_1{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
	margin-top:10px;
}
.sad_1 span{
	float:right;
}
.sad_2{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_2 span{
	float:right;
}
.sad_3{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_3 span{
	float:right;
}
.sad_4{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_4 span{
	float:right;
}
.sad_5{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_5 span{
	float:right;
}
.sad_6{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_6 span{
	float:right;
}
.sad_7{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_7 span{
	float:right;
}
.sad_8{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_8 span{
	float:right;
}
.sad_9{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_9 span{
	float:right;
}
.sad_10{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_10 span{
	float:right;
}
.sad_11{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px dashed #d4d4d4;
	line-height:42px;
	font-size:14px;
	color:#f15a23;
}
.sad_11 span{
	float:right;
}
.sad_12{
	width:750px;
	height:42px;
	float:right;
	margin:0 auto;
	border-bottom:1px solid #d4d4d4;

}
.sol{
	width:600px;
	height:522px;
	float:left;
	margin:0 auto;
	margin-left:50px;
	margin-top:60px;
	background: url(../img/nei.png) no-repeat center;
}
.sop{
	width:726px;
	height:136px;
	float:left;
	margin:0 auto;
	margin-left:50px;
	margin-top:60px;
	margin-bottom:90px;
}
.sop_1{
	width:173px;
	height:64px;
	margin:2px;
}