@media screen and (max-width:800px){
	
		/*section{
	background:#ebebeb;
	display:flex;
	flex-flow:column;
	margin:35px 60px 0 62px;
	justify-content:center;*/
/*}*/
/*.foot_one{
	display:flex;
	margin:0 80px;
	flex-flow:row;
	justify-content:center;
	background:#202020;
}
*/
}