html,body,div,p,ol,ul,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,hr,img,input{
	margin: 0;
	padding: 0;
}

html{
	font-size: 26.67vw;
}
body{
	font-family: "微软雅黑",Arial;
	/*background:red;*/
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border:none;
	display: block;
}
/*iphone 6  2*/
/*header*/
header{
	background:#12b7f5;
	height:48px;
	display:flex;
	line-height:48px;
	justify-content:space-between;
	margin-bottom:9px;
}
header a{
	font-size:20px;
	color:#ffffff;
}
header a img{
	width:58px;
	height:45px;
	
}
.head_one{
	margin-right:10px; 
}
/*search*/
.search{
	margin:0 9px;
	display:flex;
	justify-content:center;
	border-radius: 6px;
	background:#eeeff3;
}
.search a{
	
	display:flex;
	flex-flow:row wrap;
	line-height:26px;
	font-size:18px;
	color:#ffffff;
	text-align: center;
}
.search a img{
	width:15px;
	height:17px;
	align-self:center;
}
/*nav*/
nav{
	display:flex;
	flex:1;
	justify-content: space-around;
	margin-top:27px;
}
nav a{
	display:block;
	font-size:14px;
	color:#252525;
	font-weight:800;
	text-align: center;
}
nav a img{
	width:50px; 
	height:32px;
}
/*section */
section{
	display:flex;
	flex-flow:column;
	margin-top:20px;
	border-top:1px solid #dedfe0;
	/*border-bottom:1px solid #dedfe0;*/
}
section a {
	font-size:18px;
	font-weight:800;
	color:#252525;
	line-height:45px;
	margin-left:10px;
}
section a img{
	width:7px;
	height:10px;
	line-height:45px;
	align-self:center;
	margin-right:13px;
}

.section_one{
	margin-top:20px;
	display:flex;
	border-bottom:1px solid #dedfe0;
}
.section_one a{
	display:flex;

}
.section_one a img{
	text-align: center;
}
.section_one a span {
	font-size:18px;
	color:#bcbcbc;
	align-self:flex-end;
	margin-right:12px;

}


.section_two{
	margin-top:20px;
	display:flex;
	justify-content:flex-start;
	overflow:hidden;
}
.section_two a{
	display:flex;

	justify-content:flex-start;
	text-align: center;
}
.section_two a span {
	display:block;
	font-size:18px;
	color:#bcbcbc;
	align-self:center;
}

/*footer*/
.foot{
	display:flex;
	flex:1;
	flex-flow:row wrap;
	justify-content:space-around;
}
.foot a {
	display:block;
	font-size:10px;
	color:#252525;
	line-height:45px;
	text-align: center;
}
.foot a img{
	width:31px;
	height:26px;
	align-self:center;
}
.foot_3 img{
	width:41px;
	height:31px;
}